

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: white;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.header-content {
    display: flex;
   justify-content: center;
   padding: 50px 200px;
}

.content {
    padding: 10px;
    margin: 0;
    width: 400px;
}

.header-img{
    width: 400px;
    height: 200px;
    padding: 20px;
}
.kittens-img {
    width: 150px;
    height: 150px;
    border:#2882F6 solid 4px;
    border-radius: 16px;
}


.footer {
    background-color: #1f2937;
    color: white;
}

.main {
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.main-up {
    padding-bottom: 80px;
}

.main-title {
    padding: 28px;
}

button {
    background-color: #2882F6;
    color: white;
    border-radius: 6px;
    padding: 6px 20px;
}

.images {
    display: flex;
    gap: 16px;
    justify-content: center;
    gap: 20px;
}

.text-img{
    display: flex;
    font-size: 16px;
    justify-content: center;
    gap: 20px;
}

.text-img1 {
    width: 150px;
    padding: 0;
    word-wrap: break-word;
}

.main-middle {
    background-color: #e5e7eb;
    
    }


.quote {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-text{
    
}
.the-quote {
    align-self: flex-end;
}